<?xml version="1.0"?>
<launch>
  <include file="$(find platform_launch)/launch/white_e2/platform.launch">
    <arg name="use_front_radar" value="false" />
    <arg name="use_camera" value="false" />
    <arg name="use_lidar1" value="true" />
    <arg name="use_gps" value="true" />
  </include>
  <!--
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find platform_launch)/rviz/white_e2.rviz" />
  -->
</launch>
