<?xml version="1.0"?>
<launch>

  <!-- robot_description is used by nodes that publish to joint_states. -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find gem_description)/urdf/gem.urdf.xacro'"/>

  <!-- Read joint positions from joint_states, then publish the vehicle's state to tf. -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Should be replaced with the real hardware interface -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <include file="$(find pacmod_game_control)/launch/pacmod_game_control.launch">
    <arg name="launch_pacmod" value="false" />
    <arg name="is_pacmod_3" value="false" />
    <arg name="pacmod_vehicle_type" value="POLARIS_GEM" />
  </include>
  
  <include file="$(find platform_launch)/launch/white_e2/platform.launch">
    <arg name="use_dbw" value="true" />
    <arg name="use_camera" value="true" />
    <!--
    <arg name="use_gps" value="true" />
    <arg name="use_front_radar" value="true" />
    <arg name="use_lidar1" value="true" />
    -->
  </include>

  <!--
  <node name="gem_velodyne" pkg="gem_pcl" type="gem_velodyne" />
  -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find platform_launch)/rviz/white_e2.rviz" />

</launch>

